*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-color: rgb(219, 165, 100);
}

header{
    background-color: rgb(137, 30, 30);
    padding: 10px;
    border-radius: 10px;
}

section{
    background-color: rgb(201, 137, 91);
    border-radius: 10px;
    
    padding: 10px;
}

aside{
    background-color: rgb(115, 92, 34);
    
    border-radius: 10px;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.contenedor2 {
    display: flex;
    flex-grow: 1;
  }

.contenido_principal{
    flex-grow: 1;
}

.otros{
    width: 160px;
}

.texto{
    font-size: 16px;
    color: white;
    text-align: justify;
}

#titulos{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}